
<div *ngIf="codigoCustomizavel">
    <h2><span>Codigo Customizavel</span> {{codigoCustomizavel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Descricao</span></dt>
        <dd>
            <span>{{codigoCustomizavel.descricao}}</span>
        </dd>
        <dt><span>Codigo</span></dt>
        <dd>
            <span>{{codigoCustomizavel.codigo}}</span>
        </dd>
        <dt><span>Caminho Jar</span></dt>
        <dd>
            <span>{{codigoCustomizavel.caminhoJar}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'codigo-customizavel/'+ codigoCustomizavel.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
