
<div *ngIf="logStatusInventario">
    <h2><span>Log Status Inventario</span> {{logStatusInventario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Time Stamp</span></dt>
        <dd>
            <span>{{logStatusInventario.timeStamp | date:'medium'}}</span>
        </dd>
        <dt><span>Inventario</span></dt>
        <dd>
            <div *ngIf="logStatusInventario.inventario">
                <a [routerLink]="['/inventario', logStatusInventario.inventario?.id]">{{logStatusInventario.inventario?.id}}</a>
            </div>
        </dd>
        <dt><span>Status Inventario</span></dt>
        <dd>
            <div *ngIf="logStatusInventario.statusInventario">
                <a [routerLink]="['/status-inventario', logStatusInventario.statusInventario?.id]">{{logStatusInventario.statusInventario?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'log-status-inventario/'+ logStatusInventario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
