<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTransmissaoLabel">Create or edit a Transmissao</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!transmissao.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="transmissao.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_timeStamp">Time Stamp</label>
            <div class="d-flex">
                <input id="field_timeStamp" type="datetime-local" class="form-control" name="timeStamp" [(ngModel)]="transmissao.timeStamp"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_versaoColetor">Versao Coletor</label>
            <input type="text" class="form-control" name="versaoColetor" id="field_versaoColetor"
                [(ngModel)]="transmissao.versaoColetor" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_inventario">Inventario</label>
            <select class="form-control" id="field_inventario" name="inventario" [(ngModel)]="transmissao.inventario">
                <option [ngValue]="null"></option>
                <option [ngValue]="inventarioOption.id === transmissao.inventario?.id ? transmissao.inventario : inventarioOption" *ngFor="let inventarioOption of inventarios; trackBy: trackInventarioById">{{inventarioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_funcionario">Funcionario</label>
            <select class="form-control" id="field_funcionario" name="funcionario" [(ngModel)]="transmissao.funcionario">
                <option [ngValue]="null"></option>
                <option [ngValue]="funcionarioOption.id === transmissao.funcionario?.id ? transmissao.funcionario : funcionarioOption" *ngFor="let funcionarioOption of funcionarios; trackBy: trackFuncionarioById">{{funcionarioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_coletor">Coletor</label>
            <select class="form-control" id="field_coletor" name="coletor" [(ngModel)]="transmissao.coletor">
                <option [ngValue]="null"></option>
                <option [ngValue]="coletorOption.id === transmissao.coletor?.id ? transmissao.coletor : coletorOption" *ngFor="let coletorOption of coletors; trackBy: trackColetorById">{{coletorOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tipoContagem">Tipo Contagem</label>
            <select class="form-control" id="field_tipoContagem" name="tipoContagem" [(ngModel)]="transmissao.tipoContagem">
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoContagemOption.id === transmissao.tipoContagem?.id ? transmissao.tipoContagem : tipoContagemOption" *ngFor="let tipoContagemOption of tipocontagems; trackBy: trackTipoContagemById">{{tipoContagemOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
